.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 825px;
    width: 680px;
}

.texto__area {

    background: transparent;
    border-style: none;
    color: #0A3871;
    font-size: 32px;
    height: 570px;
    line-height: 150%;
    margin-top: 100px;
    outline: 0;
    resize: none;
    text-transform: lowercase;
    width: 680px;
}

.texto__area::placeholder {

    color: #0A3871;
    text-transform: none;    

}